page-place-order{



.overall{
    background-image: url('../assets/imgs/cup.jpg');
    background-repeat: no-repeat;
    background-position: center;
background-size: 30cm;
}
h1 {
    color:goldenrod;

}
h2{
    color: red;
}
}